:root.theme-dark {
  --image-bg: url(../images/cover-image-dark.png);
  --focus-color: #db00ff;
  --text-color: #f1b2ce;
  --header-text-color: #000028;
  --menu-text-color: #ff0070;
  --h-bg-color: #ff0070;
  --shadow-color: #ff0070;
  --border-color: #ff0070;
  --border-color-hover: rgb(255 0 112 / 0.4);

  --tips-text-link: #f1b2ce;
  --h2-color: #ff0070;
  --h3-color: #000028;
}
